/* @theme ntt */

/*
SETUP
Install Meiryo font: open /Applications/Microsoft\ PowerPoint.app/Contents/Resources/DFonts/meiryo*.ttc
*/

@font-face {
  font-family: "Number";
  src: local("Arial");
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Number";
  src: local("Arial Bold");
  font-weight: bold;
  unicode-range: U+0030-0039, U+0041-005A, U+0061-007A;
}

section {
  width: 25.4cm;
  height: 14.29cm;
  background-color: #fff;
}

section.title {
  background-image: url(https://raw.githubusercontent.com/oe1307/dotfiles/refs/heads/main/config/marp/ntt-logo.svg);
  background-repeat: no-repeat;
  background-size: 197px;
  background-position: 42px 36px;
}

section.title h1 {
  font-family: "Number", "Meiryo";
  color: #006cb9;
  font-size: 44pt;
  position: absolute;
  bottom: 178px;
  left: 118px;
}

section.title h2 {
  font-family: "Number", "Meiryo";
  color: #006cb9;
  font-size: 18pt;
  font-weight: normal;
  position: absolute;
  bottom: 140px;
  left: 118px;
}

section.title h3 {
  font-family: "Number", "Meiryo";
  color: #006cb9;
  font-size: 12pt;
  font-weight: normal;
  position: absolute;
  bottom: 70px;
  left: 118px;
}

section.title footer {
  font-family: "Arial";
  color: #7f7f7f;
  font-size: 9pt;
  position: absolute;
  bottom: 25px;
  left: 118px;
}

section.title::after {
  content: '' !important;
  display: none !important;
}

section.slide {
  background-image: url(https://raw.githubusercontent.com/oe1307/dotfiles/refs/heads/main/config/marp/ntt-logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 820px 27px;
  font-family: "Number", "Meiryo";
  font-size: 20pt;
  color: #000;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 91px;
  line-height: 200%;
}

section.slide h1 {
  font-family: "Number", "Meiryo";
  color: #006cb9;
  font-size: 28pt;
  position: absolute;
  top: 0px;
  left: 42px;
}

section.slide strong {
  font-size: 120%;
}

section.slide footer {
  font-family: "Arial";
  color: #7f7f7f;
  font-size: 9pt;
  position: absolute;
  bottom: 4px;
  left: 42px;
}

section.slide::after {
  font-family: "Arial";
  color: #006cb9;
  font-size: 14pt;
  position: absolute;
  right: -1px;
  bottom: 4px;
}

section.subtitle {
  background-image: url(https://raw.githubusercontent.com/oe1307/dotfiles/refs/heads/main/config/marp/ntt-logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 810px 32px;
  color: #fff;
}

section.subtitle h1 {
  font-family: "Number", "Meiryo";
  color: #006cb9;
  font-size: 40pt;
  position: absolute;
  left: 40px;
  top: 203px;
}

section.subtitle footer {
  font-family: "Segoe UI";
  color: #000;
  font-size: 8pt;
  position: absolute;
  left: 41px;
  bottom: 3px;
}

section.last {
  background-image: url(https://raw.githubusercontent.com/oe1307/dotfiles/refs/heads/main/config/marp/ntt-logo.svg);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 810px 32px;
}

section.last h1 {
  color: #006cb9;
  font-size: 50pt;
  font-family: "Segoe UI";
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 188px;
  top: 172px;
}

section.last footer {
  color: #fff;
}

section.last::after {
  color: #fff;
}

section.overslide h1{
  font-family: "Number", "Meiryo";
  color: #006cb9;
  background-color: #fff;
  font-size: 27pt;
  position: absolute;
  top: -7px;
  left: 38px;
}

section.overslide footer{
  font-family: "Segoe UI";
  color: #000;
  background-color: #fff;
  font-size: 8.1pt;
  position: absolute;
  left: 38.5px;
  bottom: 3px;
}

section.overslide::after {
  color: #fff;
  font-size: 0.1pt;
}

a:link {
  font-family: "Times New Roman";
  color: #2694c9;
  font-size: 16pt;
  text-decoration: underline;
}

.compact {
  line-height: 130%;
}

.flex {
  display: flex;
  gap: 1em;
}
.sa {
  justify-content: space-around;
}
.fw div {
  flex: var(--fw);
}